<div class="app-layout">

  <!-- =====================
       SIDEBAR GAUCHE
  ====================== -->
 <aside class="sidebar">
  <div class="photo-list">
  <app-photo-card 
    *ngFor="let photo of photos" 
    [photomodel]="photo" 
    (photoClicked)="selectedPhoto = $event">
  </app-photo-card>
  </div>
</aside>

  <!-- =====================
       MAP CENTRALE
  ====================== -->
  <main class="map-container">
   <app-map 
  [photomodels]="photos"
  (photoSelected)="selectedPhoto = $event">
</app-map>
  </main>

<!-- =====================
     PANEL DETAIL DROIT
====================== -->
<aside class="detail-panel" *ngIf="selectedPhoto">
  <h3 class="detail-title">{{ selectedPhoto.title }}</h3>

  <div class="detail-photo-wrapper">
    <img [src]="selectedPhoto.image_location" alt="Photo sélectionnée" class="detail-photo"/>
  </div>

  <div class="detail-info">
    <h2>{{ selectedPhoto.description || 'Pas de description' }}</h2>
    <p>📅 {{ selectedPhoto.date }}</p>
    <p>📍 {{ selectedPhoto.location }}</p>
  </div>
</aside>

</div>
